@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
  outline: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #373740;
}
main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #start {
  position: absolute;
  min-width: 250px;
  font-size: 20px;
  text-align: center;
}
main #start #start_title {
  border-radius: 10px 10px 0 0;
  color: white;
  background-color: #e84a44;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
}

main #start #start_content {
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 15px;
  align-items: center;
}
#start_content div {
  margin-bottom: 10px;
}

div #start_content button {
  font-weight: 400;
  font-size: 15px;
  margin: 10px;
  width: 35%;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #373740;
}
div #start_content button:hover {
  background-color: #67a0fb;
  cursor: pointer;
  color: white;
}

main section {
  display: flex;
  width: 600px;
  justify-content: center;
  flex-direction: column;
  /* padding: 20px; */
}

section header {
  position: relative;
  display: flex;
  border-radius: 10px 10px 0 0;
  align-items: center;
  justify-content: space-between;
  background-color: #e84a44;
  padding: 0 25px;
}
section header #title {
  color: white;
  font-family: "Pokemon Solid", sans-serif;
  font-size: 28px;
  /* font-size: clamp(10px, 30px, 35px); */
  letter-spacing: 3px;
}
section header #timer {
  color: #67a0fb;
  background: white;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}

section header #timer #time_left_txt {
  user-select: none;
}
section header #timer #timer_sec {
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #67a0fb;
  /* border: 1px solid #343a40; */
  user-select: none;
}

section header #time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 5px;
  background: #67a0fb;
}

section #game_body {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
}
div #picture_frame {
  width: 330px;
  height: 220px;
  margin-right: 24px;
  background-image: url("../images/bg.png");
  background-size: cover;
  box-shadow: inset -2px -2px 10px #373740;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div #picture_frame img {
  scale: 1.5;
  object-fit: content;
}

div #answ_options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div #answ_options li {
  border-radius: 5px;
  min-width: 200px;
  list-style: none;
  color: #fff;
  background: #e84a44;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
}
div #answ_options li:hover {
  background-color: #67a0fb;
  cursor: pointer;
}
/* div .answ_options li {
  border-radius: 5px;
  min-width: 200px;
  list-style: none;
  color: #fff;
  background: #e84a44;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
}
div #answ_options li:hover {
  background-color: #67a0fb;
  cursor: pointer;
} */

div #answ_options li + li {
  margin-top: 16px;
}

main #pokemon_data {
  background-color: white;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
}

div #pokemon_info {
  text-transform: capitalize;
  font-weight: 600;
  color: #373740;
  font-size: clamp(10px, 30px, 30px);
}
#pokemon_data button {
  border-radius: 5px;
  border: none;
  width: 70px;
  margin-left: 10px;
  color: #fff;
  background-color: #373740;
  text-align: center;
}

#pokemon_data button:hover {
  background-color: #67a0fb;
  cursor: pointer;
  color: #373740;
}

footer {
  border-top: 1px solid lightgrey;
  background-color: #e84a44;
  color: white;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  padding: 5px 20px;
}

main #gameover {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  z-index: 1;
}
#gameover #top {
  border-radius: 10px 10px 0 0;
  color: white;
  background-color: #e84a44;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
}
#gameover #end_score {
  font-size: 25px;
  color: #e84a44;
}
#end_score span {
  color: #67a0fb;
}
#gameover #content {
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 20px;
  align-items: center;
}
#content button {
  font-weight: 400;
  font-size: 15px;
  margin: 10px;
  width: 35%;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #373740;
}
#content button:hover {
  background-color: #67a0fb;
  cursor: pointer;
  color: white;
}
.notSolved {
  filter: brightness(0);
}
.hidden {
  visibility: hidden;
}
.disable_listener {
  pointer-events: none;
}

@media (max-device-height: 981px) {
  main section {
    scale: 0.8;
  }
}
@media (max-device-width: 480px) {
  main section {
    /* position: absolute; */
    display: flex;
    scale: 1.5;
    justify-content: center;
    /* align-items: center; */
  }
  main #start {
    scale: 1.5;
  }
  main #gameover {
    scale: 1.5;
  }
}
