@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}
body {
  text-align: center;
  min-height: 100vh;
  background-color: #373740;
}
/* Game css */
.game_box {
  display: inline-block;
  margin-top: 10%;
  padding: 15px;
  width: 35vw;
  height: 38vh;
  position: relative;
  min-width: 400px;
}
.top_bar {
  height: 12%;
  background-color: #e84a44;
  line-height: 4vh;
  border-radius: 5px 5px 0 0;
}

.top_bar h1 {
  color: white;
  font-family: "Pokemon Solid", sans-serif;
  font-size: clamp(4px, 2.5vw, 22px);
  letter-spacing: 3px;
  text-align: center;
}
.game_body {
  height: 100%;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.poke_bg {
  top: 25%;
  left: 7%;
  width: 17vw;
  min-width: 170px;
  height: 23vh;
  background-image: url("../images/bg.png");
  background-size: cover;
  position: absolute;
  border: 1px solid #373740;
  box-shadow: inset -1px -1px 5px black;
  border-radius: 2px;
}
.pokemon_image {
  position: absolute;
  top: 45%;
  left: 33%;
  transform: scale(1.5) translate(-45%, 30%);
  max-height: 20%;
}
.shadow {
  filter: brightness(0);
}
.pokemon_data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 95%;
  left: 11%;
  font-size: clamp(4px, 2.5vw, 22px);
}
.pokemon_name {
  color: #3a444d;
  text-transform: capitalize;
}
.answer_buttons {
  align-items: center;
  position: absolute;
  display: block;
  top: 24%;
  left: 70%;
  width: 33%;
  transform: translate(-30%, 0);
}
.answer {
  margin: 7.5px;
  width: 100%;
  /* height: 40px; */
  padding: 5%;
  border: none;
  border-radius: 2px;
  font-size: clamp(5px, 5vw, 1rem);
  background-color: #e84a44;
  color: white;
}

.game_buttons {
  position: absolute;
  display: flex;
  top: 90%;
  left: 73.5%;
  width: 30%;
  transform: translate(-30%, 0);
  gap: 2vw;
}
.button {
  width: 60%;
  padding: 5%;
  border: none;
  border-radius: 2px;
  font-size: clamp(5px, 5vw, 1rem);
  background-color: #373740;
  color: white;
}
.hidden {
  visibility: hidden;
}
.correct {
  background-color: #67a0fb;
}
button:hover {
  cursor: pointer;
}
